* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}
.title-mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 60px;
  gap: 60px;
  background-color: white;
  height: 300px;
  width: 100%;
  margin-bottom: 30px;
}
.main-title-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.title-card {
  width: 375px;
  height: 249px;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  background-size: 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.title-card:hover {
  background-size: 105%;
}
.title-card .titlecard-postion {
  position: absolute;
  bottom: 0;
  margin: 0 10px 15px 10px;
}

.title-card-one {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./image/Homepage_Header.jpeg") no-repeat center/cover;
  background-blend-mode: overlay;
}
.title-card-Shadow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: linear-gradient(to bottom, transparent, black);
  pointer-events: none;
  border-radius: 10px;
}
.title-card-two {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./image/wildarrangementen.webp") no-repeat center/cover;
  background-blend-mode: overlay;
}
.title-card-three {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./image/homepage_banner.avif") no-repeat center/cover;
  background-blend-mode: overlay;
}
.title {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 1);
}
.description {
  color: #fff;
  line-height: 17px;
  margin-top: 6px;
  text-align: left;
  text-shadow: 1px 1px black;
}
