.AllCompanies-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 85px;
  background-color: #f1f1f1;
}
.AllCompanies-logoContainer {
  width: 1170;
  height: 64px;
  /* margin: 60px 367.5px; */
  padding: 0 15px;
}
.AllCompanies-brandList {
  width: 1160px;
  height: 64px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  list-style: none;
}
.AllCompanies-logoItem {
  width: 145px;
  height: 64px;
  padding: 0 10px;
  display: block;
  justify-content: flex-start;

  /* background-color: #d11212; */
  position: relative;
}
.AllCompanies-logoImg {
  background-image: url("./all-companany.png");
  position: absolute;
  display: block;
}
.VanDerValk {
  width: 85px;
  height: 48px;
  background-position: 0 -256px;
}
.BuilberBerg {
  width: 109px;
  height: 42px;
  background-position: -286px -180px;
}
.BestWestern {
  background-position: -395px -180px;
  width: 109px;
  height: 24px;
}
.NH-Hotel {
  background-position: -215px -253px;
  width: 54px;
  height: 48px;
}
.Postillion {
  background-position: -286px -222px;
  width: 109px;
  height: 19px;
}
.WestCord {
  background-position: -85px -253px;
  width: 68px;
  height: 48px;
}
.Amrath {
  background-position: -153px -253px;
  width: 62px;
  height: 48px;
}
